/main/**/x64/**/*
/main/**/Win32/**/*
/main/**/x86/**/*
/main/**/bin/**/*
/main/**/obj/**/*
/main/**/Debug
/main/**/Release
/main/**/*.user
/main/x86
/main/x64
/main/OpenCover.opensdf
/main/OpenCover.sdf
/main/OpenCover.suo
/main/Docs
/main/OpenCover.Profiler/OpenCoverProfiler_i.h
/main/OpenCover.Profiler/OpenCoverProfiler_i.c
/main/.gitignore
/main/ipch
/main/OpenCover.Profiler/OpenCoverProfiler_p.c
/main/OpenCover.Profiler/dlldata.c
/tools/gtest-1.5.0
/tools/Moq.4.0.10531.7
/tools/NUnit-2.5.9.10348
/tools/RavenDB-Build-287