/main/**/x64/**/*
/main/**/Win32/**/*
/main/**/x86/**/*
/main/**/bin/**/*
/main/**/obj/**/*
/main/**/Debug
/main/**/Release
/main/**/*.user
/main/**/*.opensdf
/main/**/*.sdf
/main/**/*.suo
/main/Docs
/main/OpenCover.Profiler/OpenCoverProfiler_i.h
/main/OpenCover.Profiler/OpenCoverProfiler_i.c
/main/OpenCover.Profiler/OpenCoverProfiler64_i.h
/main/OpenCover.Profiler/OpenCoverProfiler64_i.c
/main/ipch
/main/OpenCover.Profiler/OpenCoverProfiler_p.c
/main/OpenCover.Profiler/OpenCoverProfiler64_p.c
/main/OpenCover.Profiler/dlldata.c
/tools/gtest-1.6.0
/tools/atlsvr.9.0.70425
/main/opencover.sln.cache
/build/Version/opencover.snk
/build/Version/opencover.public.snk
/main/bin
/samples/**/bin/**/*
/samples/**/obj/**/*
/samples/OpenCover.Samples.suo
/main/*.user
/main/_ReSharper.OpenCover
/main/OpenCover.Profiler/RDa01252
/main/OpenCover.Profiler/RCa01252
/samples/_ReSharper.OpenCover.Samples
/main/OpenCover_mm_cache.bin
/samples/OpenCover.Samples.5.0.ReSharper.user
/main/OpenCover.sln.docstates.suo
/main/CodeAnalyst/OpenCover.caw
/samples/OpenCover.Samples.6.0.ReSharper.user
/main/OpenCover.sln.DotSettings.user
/main/OpenCover.v11.suo
/tools/GendarmeSigned
/main/TestResults
*.suo
/samples/SampleSln/.nuget/packages.config
/samples/SampleSln/nuget/packages.config
/samples/SampleSln/coverage.bat
/samples/SampleSln/coverage
/main/packages
!main/packages/repositories.config
/samples/SampleSln/packages
!samples/SampleSln/packages/repositories.config
/main/OpenCover.Profiler/OpenCover.Profiler.aps
/main/OpenCover.Test/FakesAssemblies
/fakes/**/bin/**/*
/fakes/**/obj/**/*
/fakes/**/FakesAssemblies/**/*
/fakes/packages
!fakes/packages/repositories.config
/results.xml
.vs
project.lock.json
*.opendb
!/tools/Mono.Cecil/**

#release-notes
/main/OpenCover.Packages/nuget/opencover/readme_with_releasenotes.txt
ReleaseNotes.txt

#Coverity
cov-int*
coverity.zip

#SharpDevelop
/**/OpenCover/coverage.xml

#sonarqube
/.sonarqube
!tools/sonarqube/**/*
!tools/CxxSonarQubeMsbuidRunner.exe
/main/.sonarqube
/main/.cxxresults
/tools/sonarqube/cxx-runner
/main/OpenCover.VC.db
/TestResult.xml
/main/sonarcpp/**

#chocolatey
/main/bin/chocpackage/*.nupkg
/samples/SampleSln.zip
/main/OpenCover.Packages/chocolatey/opencover/tools/chocolateyInstall.ps1
/main/OpenCover.Packages/chocolatey/opencover.portable/tools/chocolateyInstall.ps1
/tools/sonarqube

#OpenCppCoverage
/CoverageReport*/**/*
/GenericCoverage.xml
/OpenCover.Test.ProfilerCoverage.xml
/main/after.opencover.sln.targets
/LastCoverageResults.log
