<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" >
	
	<Product Id="*" Name="OpenCover" Language="1033" Version="!(bind.FileVersion.OPENCOVER_FRAMEWORK_DLL)" Manufacturer="OpenCover @ GitHub" UpgradeCode="2250c3f1-d9ba-44d8-b4db-25f91fe92dc6">
		<Package InstallerVersion="200" Compressed="yes" />

		<Upgrade Id="2250c3f1-d9ba-44d8-b4db-25f91fe92dc6">
			<UpgradeVersion OnlyDetect="no" Property="PREVIOUSFOUND" Minimum="1.0.0.0" IncludeMinimum="yes"
                            Maximum="!(bind.FileVersion.OPENCOVER_FRAMEWORK_DLL)" IncludeMaximum="no" />
			
			<UpgradeVersion OnlyDetect="yes" Property="NEWERFOUND" Minimum="!(bind.FileVersion.OPENCOVER_FRAMEWORK_DLL)"
                            IncludeMinimum="yes" />
		</Upgrade>
		
		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLLOCATION" Name="OpenCover">
					<Component Id="ProductComponent" Guid="0188067F-C925-404A-AE01-3E0A10EF4DBB">
						<File Id="OPENCOVER_CONSOLE_EXE" Source="..\bin\Release\OpenCover.Console.exe" KeyPath="yes" />
						<File Id="OPENCOVER_CONSOLE_EXE_CONFIG" Source="..\bin\Release\OpenCover.Console.exe.config" />
						<File Id="OPENCOVER_FRAMEWORK_DLL" Source="..\bin\Release\OpenCover.Framework.dll" />
						<File Id="MICROSOFT_PRACTICES_UNITY_DLL" Source="..\bin\Release\Microsoft.Practices.Unity.dll" />
						<File Id="MONO_CECIL_DLL" Source="..\bin\Release\Mono.Cecil.dll" />
						<File Id="MONO_CECIL_PDB_DLL" Source="..\bin\Release\Mono.Cecil.Pdb.dll" />
						<File Id="SAMPLE_CMD" Source="Assets\Sample.cmd" Name="Sample.cmd" />
						<File Id="SAMPLE64_CMD" Source="Assets\Sample64.cmd" Name="Sample64.cmd" />
						<File Id="LICENCE_TXT" Source="..\..\License.md" Name="License.txt" />
					</Component>
					<Directory Id="X86" Name="x86">
						<Component Id="X86Profiler" Guid="6E3C0557-C3E6-4D45-9914-905CAFB71CA7" >
							<File Id="OPENCOVER_PROFILER_DLL_X86" Source="..\bin\Release\x86\OpenCover.Profiler.dll" KeyPath="yes">
								<TypeLib Id="{437C5B7B-DA44-4DE8-8629-CC994EA549EC}" Description="OpenCoverProfilerLib" Language="0" MajorVersion="1" MinorVersion="0">
									<Class Id="{1542C21D-80C3-45E6-A56C-A9C1E4BEB7B8}" Context="InprocServer32" Description="OpenCover CodeCoverage Class" ThreadingModel="both" Version="1.0">
									</Class>
								</TypeLib>
							</File>
						</Component>
					</Directory>
					<Directory Id="X64" Name="x64">
						<Component Id="X64Profiler" Guid="F52FC3F3-FACB-4EFE-8248-210C73BD1C36" >
							<File Id="OPENCOVER_PROFILER_DLL_X64" Source="..\bin\Release\x64\OpenCover.Profiler.dll" KeyPath="yes" >
								<!--
								<TypeLib Id="{9F34E05F-9627-4477-A016-0D56DEF7A38E}" Description="OpenCoverProfilerLib" Language="0" MajorVersion="1" MinorVersion="0">
									<Class Id="{A7A1EDD8-D9A9-4D51-85EA-514A8C4A9100}" Context="InprocServer32" Description="OpenCover CodeCoverage Class" ThreadingModel="both" Version="1.0">
									</Class>
								</TypeLib>
								-->
							</File>
						</Component>
					</Directory>
					<Directory Id="SAMPLES" Name="Samples">
						<Directory Id="SAMPLES_X86" Name="x86">
							<Component Id="X86Samples" Guid="A3CD8F55-CC98-4CAC-9839-1C7790151364">
								<File Id="OPENCOVER_SIMPLE_TARGET_EXE_X86" Source="..\bin\Release\x86\OpenCover.Simple.Target.exe"/>
								<File Id="OPENCOVER_SIMPLE_TARGET_PDB_X86" Source="..\bin\Release\x86\OpenCover.Simple.Target.pdb"/>
							</Component>
						</Directory>
						<Directory Id="SAMPLES_X64" Name="x64">
							<Component Id="X64Samples" Guid="08B660A3-0CE9-41CC-BC16-E70C1EE9C1E5">
								<File Id="OPENCOVER_SIMPLE_TARGET_EXE_X64" Source="..\bin\Release\x64\OpenCover.Simple.Target.exe"/>
								<File Id="OPENCOVER_SIMPLE_TARGET_PDB_X64" Source="..\bin\Release\x64\OpenCover.Simple.Target.pdb"/>
							</Component>
						</Directory>
					</Directory>
					
				</Directory>
			</Directory>
		</Directory>

		<Feature Id="ProductFeature" Title="OpenCover.Installer" Level="1">
			<ComponentRef Id="ProductComponent" />
			<ComponentRef Id="X86Profiler" />
			<ComponentRef Id="X64Profiler" />
			<ComponentRef Id="X86Samples" />
			<ComponentRef Id="X64Samples" />
		</Feature>

		<InstallExecuteSequence>
			<RemoveExistingProducts Before="InstallInitialize" />
		</InstallExecuteSequence>
	</Product>
</Wix>
