<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CppCheckTask" version="1.5.3" targetFramework="Native" />
  <package id="CppLintTask" version="1.5.3" targetFramework="Native" />
  <package id="GtestRunnerTask" version="1.5.3" targetFramework="Native" />
  <package id="IntelInspectorTask" version="1.5.3" targetFramework="Native" />
  <package id="RatsTask" version="1.5.3" targetFramework="Native" />
  <package id="VeraTask" version="1.5.3" targetFramework="Native" />
</packages>