<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!-- list of all executables run, seperated by | -->
		<add key="gtest" value=""/>
		<!-- list of all command line flags used, seperated by | -->
		<add key="gtest-params" value=""/>
		<!-- list of all filters used, seperated by | -->
		<add key="gtest-filters" value=""/>
		<!-- Max number of items in history of each combo -->
		<add key="maxHistory" value="5"/>
	</appSettings>
	<startup/>
</configuration>
