<?xml version="1.0"?>
<configuration>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>

	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel.MessageLogging">
				<listeners>
					<clear/>
					<add name="messages" 
						 type="System.Diagnostics.XmlWriterTraceListener"
						 initializeData="Messages.svclog" />
				</listeners>
			</source>
		</sources>
		<trace autoflush="true" />
	</system.diagnostics>
	
	<system.serviceModel>
		<diagnostics>
			<messageLogging 
				logEntireMessage="true"
				logMalformedMessages="false"
				logMessagesAtServiceLevel="true"
				logMessagesAtTransportLevel="false"
				maxMessagesToLog="3000" 
				maxSizeOfMessageToLog="200000" />
		</diagnostics>
	</system.serviceModel>

</configuration>
