<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="chocolatey" version="0.10.11" />
  <package id="coveralls.io" version="1.4.2" />
  <package id="curl" version="7.30.0.2" />
  <package id="Mono.Gendarme" version="2.11.0.20121120" />
  <package id="NUnit.ConsoleRunner" version="3.9.0" />
  <package id="ReportGenerator" version="4.0.7" />
  <package id="Sonar-Runner" version="1.4.0" />
  <package id="xunit.runner.console" version="2.4.1" />
</packages>