<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
        <meta charset="utf-8"/>
	    <title>{{TITLE}}</title>
	    <link href="../../third-party/google-code-prettify/prettify-CppCoverage.css" type="text/css" rel="stylesheet" />
	    <script type="text/javascript" src="../../third-party/google-code-prettify/prettify.js"></script>
	</head>
	<body onload="{{BODY_ON_LOAD}}">
        <h4>{{SOURCE_WARNING_MESSAGE}}</h4>
		<pre class="prettyprint lang-cpp linenums">{{CODE}}</pre>
	</body>
</html>